/* Import components in main CSS */

@import url("components/style.css");
@import url("components/voyages.css");
@import url("components/Recettes.css");


/*Essai pour re faire apparaitre mes images*/

.partie2 {
	padding: 15px;
	display:flex;
	background-color: #ffffff;
  }

.left-content1{
	background-image: url(Images/pp.png);
 	background-color: #DAE1DE;
    border-radius: 1px;
    box-shadow: 15px 10px #85a5a3;
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 350px;
}

.left-content2{
	background-image: url(Images/pulv.jpg);
 	background-color: #DAE1DE;
    border-radius: 1px;
    box-shadow: 15px 10px #85a5a3;
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 350px;
}

.left-content3{
	background-image: url(Images/cookies1.png);
 	background-color: #DAE1DE;
    border-radius: 1px;
    box-shadow: 15px 10px #85a5a3;
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 350px;
}

.right-content2 {
    width: 60%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-left: 20px;
}

.right-content3 {
    width: 60%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-left: 20px;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: white;
  }
  .logo {
    width: 15%;
    height: auto;
    padding: 0px 0px;
  }
	.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .left-content1{
	background-image: url(Images/pp.png);
 	background-color: #DAE1DE;
    border-radius: 1px;
    box-shadow: 15px 10px #85a5a3;
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 350px;
    margin:10px;
  }

  .left-content2{
	background-image: url(Images/pulv.jpg);
 	background-color: #DAE1DE;
    border-radius: 1px;
    box-shadow: 15px 10px #85a5a3;
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 350px;
    margin: 10px;
  }
  .partie2 {
	padding: 15px;
	display:flex;
	flex-direction: column;
	background-color: #ffffff;
  }
  .right-content2 {
    width: 90%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-left: 10px;
    order:1;
  }
  .right-content3 {
    width: 90%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-left: 10px;
    order:1;
  }
  .left-content3{
	background-image: url(Images/cookies1.png);
 	background-color: #DAE1DE;
    border-radius: 1px;
    box-shadow: 15px 10px #85a5a3;
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 350px;
    order:-1;
  }

}