@font-face{
	font-family: "myFont";
  src: url("Secret Winter.ttf")
}
/* Set the background color of body to tan */


body {
  background-color: #ffffff;
}

.logo {
	width: 10%;
	height: auto;
	padding: 100px 20px;
}

	.main-head{
	background:#AAD3D1 ;
	color: black;
}

.logo img {
	width: 15px;
	height: auto;
	padding: 100px 20px;

}

h1{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: myFont;
	font-style: 2.6rem;
}

p {
	font-family: Inbue;
	font-size:20px;
	padding: 10px;
	text-align: justify;

}

h2{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: Amatic SC;
	font-style: 2.6rem;
	}

h4{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family:Amatic SC;
	font-style: 1.6rem;
}

.partie2 {
	padding: 15px;
	display:flex;
	background-color: #ffffff;
  }

.left-content1{
	background-image: url(Images/palm.jpg);
 	background-color: #DAE1DE;
    border-radius: 1px;
    box-shadow: 15px 10px #85a5a3;
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 350px;
}

.left-content2{
	background-image: url(Images/pulv.jpg);
 	background-color: #DAE1DE;
    border-radius: 1px;
    box-shadow: 15px 10px #85a5a3;
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 350px;
}

.left-content3{
	background-image: url(Images/cookies1.png);
 	background-color: #DAE1DE;
    border-radius: 1px;
    box-shadow: 15px 10px #85a5a3;
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 350px;
}

.right-content2 {
    width: 60%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-left: 20px;
}

.right-content3 {
    width: 60%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-left: 20px;
}



nav.navbar.navbar-expand-lg.navbar-light.bg-light {
	height: 100px;
	position: fixed;
	width: 100%;
}

.container-fluid {
	height: 100%;
}

.neutre {
	height: 25vh;
}

/* default list style css */
ul{
    margin: 0px;
    padding: 0px;
  	}

	ul li{
	list-style: none;
    }

/* footer credit css */

.copyright-area{
	background-color: #edf7fa;
	padding: 0px 0;
    }

    .copyright-text p{
    	font-size: 18px;
    }

    .copyright-text a{
    	color: #93AAAB;
    	font-weight: 600;
    }

    .footer-menus li{
    	display: inline-flex;
    	margin-left: 20px;
    }

    .footer-menus li a {
 	 font-size: 18px;
 	 color: var(--black);
	}


/*media quries*/

	@media (max-width: 1199.98px) {

	}

	@media (max-width: 991.98px) {
       .footer-social-icon span{
     	font-size: 14px;
     }
	}

	@media (max-width: 767.98px) {
        .copyright-text p{
    	text-align:center;
     	}

     	.footer-menus ul{
    	 text-align:center;
    	}

    	.footer-social-icon span{
     	font-size: 18px;
     }
	}

	@media (max-width: 575.98px) {
		
		.footer-widget-area{
		padding: 0 20px;
		}

		.copyright-text p{
    	text-align:center;
    	font-size:16px;
     	}

     	.footer-menus ul{
    	 text-align:center;
    	}

    	.footer-menus ul li a{
    	 font-size:16px;
    	}
	}

.btn {
	margin: 20px;
	color: white;
	background-color: #93AAAB;
	display: inline-block;
	border-color:#93AAAB;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
  .logo {
    width: 15%;
    height: auto;
    padding: 0px 0px;
  }
	.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .left-content1{
	background-image: url(Images/palm.jpg);
 	background-color: #DAE1DE;
    border-radius: 1px;
    box-shadow: 15px 10px #85a5a3;
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 350px;
    margin:10px;
  }

  .left-content2{
	background-image: url(Images/pulv.jpg);
 	background-color: #DAE1DE;
    border-radius: 1px;
    box-shadow: 15px 10px #85a5a3;
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 350px;
    margin: 10px;
  }
  .partie2 {
	padding: 15px;
	display:flex;
	flex-direction: column;
	background-color: #ffffff;
  }
  .right-content2 {
    width: 90%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-left: 10px;
    order:1;
  }
  .right-content3 {
    width: 90%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-left: 10px;
    order:1;
  }
  .left-content3{
	background-image: url(Images/unie.jpg);
 	background-color: #DAE1DE;
    border-radius: 1px;
    box-shadow: 15px 10px #85a5a3;
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 350px;
    order:-1;
}



}



/*div{
	background-color: #ffffff;
	margin: -10;
}*/




/* main footer css */
#primary-footer{
	background-color: #edf7fa;
	}

	.footer-widget-area{
		padding: 10px 0;
	}

/* main footer inner css */

.footer-widget-area p{
		font-size: 20px;
		font-family: Inbue;
	}

	.footer-widget-area li{
		margin-top: 10px;
	}

	.footer-widget-area li a{
		font-size: 20px;
		color: var(--black);
		font-family: Inbue;
		text-decoration: none;
	}

	.footer-widget-area li a:hover{
	 text-decoration: none;
	 color: #93AAAB;
	 font-family: Inbue;
	}

	.footer-widget-heading h4{
		font-weight: bold;
		font-size: 25px;
	}

.linkediting .fa{
    	color: #21bf73;
    }


.footer-social-icon .social-title{
    	font-size: 20px;
    	font-weight: bold;
    	margin-bottom: 10px;
}

	.circle-icon {
    background: #AAD3D1;
    color: #ffffff;
    padding:12px;
    border-radius: 50%;
    margin-left: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
}

