@font-face{
	font-family: "myFont";
  src: url("Secret Winter.ttf")
}
/* Set the background color of body to tan */


body {
  background-color: #ffffff;
}

.logo {
	width: 10%;
	height: auto;
	padding: 100px 20px;
}

	.main-head{
	background:#AAD3D1 ;
	color: black;
}



/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}


/*div{
	background-color: #ffffff;
	margin: -10;
}*/



.logo img {
	width: 15px;
	height: auto;
	padding: 100px 20px;

}

h1{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: myFont;
	font-style: 2.6rem;
}

p {
	font-family: Inbue;
	font-size:20px;
	text-align: justify;
	padding: 10px;
	margin: 5px;

}

h2{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: Amatic SC;
	font-style: 2.6rem;
	}


h4{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family:Amatic SC;
	font-style: 1.6rem;
}

.partie2 {
	display:flex;
	align-items: column;
	margin: 10px;
	background-color: #ffffff;
  }
 .titretexte2{
 	background-color: #ffffff;
 	width: 60%;
 }


.photo2{
	max-width: 50%;
	justify-content: space-around;
}

  .partie3{
	background-color: #DAE1DE;
}


.titretexte3{
 	background-color: #DAE1DE;
 	margin:10px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
	height: 100px;
	position: fixed;
	width: 100%;
}

.container-fluid {
	height: 100%;
}

.neutre {
	height: 25vh;
}

/* default list style css */
ul{
    margin: 0px;
    padding: 0px;
  	}

	ul li{
	list-style: none;
    }

/* main footer css */
#primary-footer{
	background-color: #edf7fa;
	}

	.footer-widget-area{
		padding: 10px 0;
	}

/* main footer inner css */

.footer-widget-area p{
		font-size: 20px;
		font-family: Inbue;
	}

	.footer-widget-area li{
		margin-top: 10px;
	}

	.footer-widget-area li a{
		font-size: 20px;
		color: var(--black);
		font-family: Inbue;
		text-decoration: none;
	}

	.footer-widget-area li a:hover{
	 text-decoration: none;
	 color: #93AAAB;
	 font-family: Inbue;
	}

	.footer-widget-heading h4{
		font-weight: bold;
		font-size: 25px;
	}

.linkediting .fa{
    	color: #21bf73;
    }


.footer-social-icon .social-title{
    	font-size: 20px;
    	font-weight: bold;
    	margin-bottom: 10px;
}

	.circle-icon {
    background: #AAD3D1;
    color: #ffffff;
    padding:12px;
    border-radius: 50%;
    margin-left: 5px;
    height: 40px;
    width: 40px;
    text-align: center;
}

/* footer credit css */

.copyright-area{
	background-color: #edf7fa;
	padding: 0px 0;
    }

    .copyright-text p{
    	font-size: 18px;
    }

    .copyright-text a{
    	color: #93AAAB;
    	font-weight: 600;
    }

    .footer-menus li{
    	display: inline-flex;
    	margin-left: 20px;
    }

    .footer-menus li a {
 	 font-size: 18px;
 	 color: var(--black);
	}


/*media quries*/

	@media (max-width: 1199.98px) {

	}

	@media (max-width: 991.98px) {
       .footer-social-icon span{
     	font-size: 14px;
     }
	}

	@media (max-width: 767.98px) {
        .copyright-text p{
    	text-align:center;
     	}

     	.footer-menus ul{
    	 text-align:center;
    	}

    	.footer-social-icon span{
     	font-size: 18px;
     }
	}

	@media (max-width: 575.98px) {
		
		.footer-widget-area{
		padding: 0 20px;
		}

		.copyright-text p{
    	text-align:center;
    	font-size:16px;
     	}

     	.footer-menus ul{
    	 text-align:center;
    	}

    	.footer-menus ul li a{
    	 font-size:16px;
    	}
	}

.btn {
	margin: 20px;
	color: white;
	background-color: #93AAAB;
	display: inline-block;
	border-color:#93AAAB;
}